/*Mixins*/
@mixin grids($gtc-value, $gap-value, $gtr-value){
    display: grid;
    grid-template-columns: $gtc-value;
    gap: $gap-value;
    grid-template-rows: $gtr-value;
}
@mixin images{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
//Maps
$font-sizes:(
    h1: (3rem, $titles-type, .15rem),
    h2: (2.5rem, $titles-type, .15rem),
    h3: (2rem, $body-font, auto),
    h4: (1rem, $titles-type, .15rem),
    p: (1.15rem, $body-font, auto),
);
@each $type, $values in $font-sizes{
  #{$type}{
    font-size: (nth($values, 1));
    font-family: (nth($values, 2));
    letter-spacing: (nth($values, 3));
  }
}