//Colores
$main-color: #E1D4C8;
$secondary-color: #3D3D3D;
$accents-color: #30385F;
//Tipografia
@font-face {
    font-family: 'Leap';
    src: url(../assets/fonts/Leap-Font/Leap.otf);
}
@font-face {
    font-family: 'Satoishi';
    src: url(../assets/fonts/Satoshi_Complete/Satoshi-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: 'Satoishi';
    src: url(../assets/fonts/Satoshi_Complete/Satoshi-Bold.otf);
    font-weight: 700;
}
$titles-type: 'Leap';
$body-font: 'Satoishi', sans-serif;