/*Case Studies*/
.casestudies{
    background-color: $secondary-color;
    padding: 5%;
    h2{
        color: $main-color;
        margin-bottom: 5%;
    }
}
.case-texts{
    h3, p{
        color: $main-color;
    }
}
/*Projects*/
.projects{
    h2{
        color: $accents-color;
        margin-bottom: 5%;
    }
}