@font-face {
  font-family: "Leap";
  src: url(../assets/fonts/Leap-Font/Leap.otf);
}
@font-face {
  font-family: "Satoishi";
  src: url(../assets/fonts/Satoshi_Complete/Satoshi-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Satoishi";
  src: url(../assets/fonts/Satoshi_Complete/Satoshi-Bold.otf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoishi", sans-serif;
  text-decoration: none;
  color: #3D3D3D;
}

/*Mixins*/
h1 {
  font-size: 3rem;
  font-family: "Leap";
  letter-spacing: 0.15rem;
}

h2 {
  font-size: 2.5rem;
  font-family: "Leap";
  letter-spacing: 0.15rem;
}

h3 {
  font-size: 2rem;
  font-family: "Satoishi", sans-serif;
  letter-spacing: auto;
}

h4 {
  font-size: 1rem;
  font-family: "Leap";
  letter-spacing: 0.15rem;
}

p {
  font-size: 1.15rem;
  font-family: "Satoishi", sans-serif;
  letter-spacing: auto;
}

body {
  background-color: #E1D4C8;
  background-image: url(../images/noisy-texture.png);
}

section {
  margin: 10% 0;
}

.text--black {
  font-weight: 700;
  color: #30385F;
}

/*Buttons*/
.btn {
  padding: 3vh 5vw;
  font-family: "Leap";
  text-align: center;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-size: 1rem;
  border: 0;
  border-radius: 0;
  text-decoration: none;
}
.btn--primario {
  background-color: #30385F;
  color: #E1D4C8;
}
.btn--primario:hover {
  background-color: transparent;
  color: #30385F;
  border: 2px solid #30385F;
}
.btn--secundario {
  background-color: #E1D4C8;
  color: #30385F;
}
.btn--secundario:hover {
  background-color: transparent;
  color: #E1D4C8;
  border: 2px solid #E1D4C8;
}
.btn--block {
  display: block;
  margin: auto;
}

/*Grids*/
.grid--3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.grid--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}
.grid--2-3560 {
  display: grid;
  grid-template-columns: 35% 60%;
  gap: 5%;
}
.grid--2-exp {
  display: grid;
  grid-template-columns: 20% 78%;
  gap: 2%;
  margin: 5% 0;
}

/*Images*/
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
img.img--50 {
  object-position: bottom;
  height: 50vh;
}

/*Cards*/
.card {
  padding: 5% 10%;
  background-color: transparent;
  border-radius: 0;
}
.card img {
  margin-bottom: 5%;
}
.card h3 {
  color: #30385F;
}
.card--fw {
  padding: 0;
}
.card--fw h3 {
  text-align: center;
  margin-bottom: 5%;
}

/*Header*/
header {
  position: sticky;
  top: 2%;
  z-index: 999;
}

.navbar {
  background-color: #30385F;
  padding: 2% 5%;
}

.logo {
  color: #E1D4C8;
  font-family: "Leap";
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-collapse {
  flex-grow: unset;
}

.nav-link {
  color: #E1D4C8;
  font-size: 1.2rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.nav-link.active, .nav-link:hover {
  text-decoration: underline;
  color: #E1D4C8 !important;
}

/*Hero*/
.hero--home {
  padding: 5% 5% 10%;
}
.hero:not(.hero--home) {
  margin: 5% auto;
}
.hero h1 {
  line-height: 105%;
  letter-spacing: 0.15rem;
  color: #3D3D3D;
}

/*Case Studies*/
.casestudies {
  background-color: #3D3D3D;
  padding: 5%;
}
.casestudies h2 {
  color: #E1D4C8;
  margin-bottom: 5%;
}

.case-texts h3, .case-texts p {
  color: #E1D4C8;
}

/*Projects*/
.projects h2 {
  color: #30385F;
  margin-bottom: 5%;
}

/*Footer*/
footer {
  border-top: 1px solid #3D3D3D;
  margin: 0 5% 2%;
  background-color: #3D3D3D;
  padding: 3% 5%;
}
footer ul {
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  color: #E1D4C8;
  font-size: 1.2rem;
}
footer h4 {
  color: #E1D4C8;
  text-align: center;
}

/*About Me*/
.aboutme__img {
  object-fit: cover;
  object-position: bottom;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee--container {
  margin: 10% 0;
  border: 2px solid #3D3D3D;
  padding: 2% 0;
  position: sticky;
  bottom: 0;
  overflow: hidden;
}
.marquee--container-inner {
  margin-bottom: 0;
  display: flex;
  animation: scrolling 20s linear infinite;
}
.marquee--container li {
  font-family: "Leap";
  color: #3D3D3D;
  padding-left: 5%;
  font-size: 2rem;
  list-style: none;
  flex-shrink: 0;
}

/*About me--Experience*/
.experience h2 {
  color: #3D3D3D;
  margin-bottom: 5%;
}
.experience .date, .experience__info h3 {
  font-family: "Leap";
  color: #30385F;
  font-size: 2rem;
  margin-bottom: 0;
}

/*Play*/
.image--gallery {
  margin: 5% 0;
  row-gap: 5%;
}

/*Contact*/
.form-control {
  width: 100%;
  border: 2px solid #3D3D3D;
  background-color: transparent;
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 0;
}
.form-control:focus {
  border: 3px solid #30385F;
  background-color: transparent;
  box-shadow: none;
}

.contact-form button {
  width: 100%;
}

/*Inner page*/
.project-quote h4 {
  font-size: 2.2rem;
  text-align: center;
}
.project-conclusion {
  text-align: center;
  margin-bottom: 5%;
}

/*Responsive Tablet*/
@media only screen and (max-width: 992px) {
  /*Images*/
  .casestudies img {
    padding: 0 10%;
  }
  /*Buttons*/
  .btn-link, button:not(.navbar-toggler) {
    width: 100%;
    font-size: 1.3rem;
  }
  /*Grids*/
  .grid--3, .grid--2-3560, .grid--2-exp {
    grid-template-columns: 1fr;
    gap: 2%;
  }
  .md--grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  /*Header*/
  .navbar-toggler {
    color: transparent;
    border: none;
  }
  .navbar-toggler-icon {
    background-image: url(../assets/menu-icon.svg);
    width: 1.5rem;
    height: 1.5rem;
  }
  .nav-link {
    font-size: 1.5rem;
    margin: 5% 0;
  }
  /*Hero*/
  .hero {
    margin: 15% auto;
  }
  /*Footer*/
  footer {
    padding: 3% 0;
  }
  /*About Me*/
  .aboutme__img {
    object-fit: cover;
    object-position: bottom;
  }
  .marquee--container {
    position: initial;
  }
  .marquee--container li {
    font-size: 2rem;
  }
  /*About me--Experience*/
  .experience .date {
    font-size: 1.5rem;
  }
}
/*Responsive Mobile*/
@media only screen and (max-width: 767px) {
  /*Texts*/
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  /*Images*/
  .casestudies {
    padding: 10% 5%;
  }
  /*Spacing*/
  section {
    margin: 10% 5%;
  }
  /*Grids*/
  .grid--2, .md--grid-2:not(.image--gallery) {
    grid-template-columns: 1fr;
    gap: 2%;
  }
  .md--grid-2:not(.image--gallery) {
    grid-template-rows: repeat(3, 1fr);
  }
  /*Header*/
  header {
    top: 0;
  }
  .navbar {
    padding: 5%;
  }
  .navbar-toggler-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  /*Hero*/
  .hero {
    margin: 15% 5%;
  }
  .hero--home {
    padding: 0;
  }
  /*Footer*/
  footer ul {
    flex-direction: column;
  }
  footer ul li {
    margin: 3% 0;
  }
  /*About Me*/
  .marquee--container li {
    font-size: 1.5rem;
  }
  /*Inner page*/
  .project-quote h4 {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=main.css.map */
