*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color:#E1D4C8;
    --secondary-color:#3D3D3D;
    --accents-color:#30385F;
    --titles-type:'Leap';
    font-family:'Satoishi',sans-serif;
    text-decoration: none;
    color: var(--secondary-color);
}
@font-face {
    font-family: 'Leap';
    src: url(../assets/fonts/Leap-Font/Leap.otf);
}
@font-face {
    font-family: 'Satoishi';
    src: url(../assets/fonts/Satoshi_Complete/Satoshi-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: 'Satoishi';
    src: url(../assets/fonts/Satoshi_Complete/Satoshi-Bold.otf);
    font-weight: 700;
}
/*Body*/
body{
    background-color: var(--main-color);
    background-image: url(../images/noisy-texture.png);
}
/*Spacing*/
section{
    margin: 10% 0;
}
.section--text__spacing{
    margin-bottom: 5%;
}
/*Texts*/
h1{
    font-family: var(--titles-type),sans-serif;
    font-size: 3rem;
}
h2{
    font-family: var(--titles-type),sans-serif;
    font-size: 2.5rem;
    letter-spacing: .15rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-family: var(--titles-type), sans-serif;
    font-size: 1rem;
    letter-spacing: .15rem;
}
p{
    font-size: 1.15rem;
}
/*Images*/
img{
    width: 100%;
}
.img--50{
    height: 50vh;
}
/*Buttons*/
.btn-link, button{
    padding: 3vh 5vw;
    font-family: var(--titles-type);
    text-align: center;
    letter-spacing: .1rem;
    display: inline-block;
    font-size: 1rem;
    border: 0;
    text-decoration: none;
}
.btn--primario{
    background-color: var(--accents-color);
    color: var(--main-color);   
}
.btn--primario:hover{
    border: 2px solid var(--accents-color);
    color: var(--accents-color);
    background-color: transparent;
}
.btn--secundario{
    background-color: var(--main-color);
    color: var(--accents-color);   
}
.btn--secundario:hover{
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
}
.btn--block{
    display: block;
    margin: auto;
}
/*Grids*/
.grid--3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
}
.grid--2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
}
.grid--2-3560{
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
}
/*Header*/
header{
    position:sticky;
    top:2%;
    z-index: 999;
}
.navbar{
    background-color: var(--accents-color);
    padding: 2% 5%;
}
.logo{
    color: var(--main-color);
    font-family: var(--titles-type);
    font-size: 1.5rem;
    text-decoration: none;
}
.navbar-collapse{
    flex-grow: unset;
}
.nav-link{
    color:var(--main-color);
    font-size: 1.2rem;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.nav-link.active, .nav-link:hover{
    text-decoration: underline;
    color: var(--main-color)!important;
}
/*Hero*/
.home--hero{
    padding: 5% 5% 10%;
}
.hero h1{
    line-height: 105%;
    letter-spacing: .15rem;
    color: var(--secondary-color);
}
/*Card*/
.card{
    padding: 5% 10%;
    background-color: transparent;
    border-radius: 0;
}
.card img{
    margin-bottom: 5%;
}
.card h3{
    color: var(--accents-color);
}
.card p{
    color: var(--secondary-color);
    margin-bottom: 4%;
}
/*Home--Case Studies*/
.casestudies{
    background-color: var(--secondary-color);
    padding: 5%;
}
.casestudies h2{
    color: var(--main-color);
    margin-bottom: 5%;
}
.case-texts h3, .case-texts p{
    color: var(--main-color);
}
.case-texts p{
    margin-bottom: 5%;
}
/*Home--Projects*/
.projects h2{
    color: var(--accents-color);
    margin-bottom: 5%;
}
/*Footer*/
footer{
    border-top: 1px solid var(--secondary-color);
    margin: 0 5% 2%;
    background-color: var(--secondary-color);
    padding: 3% 5%;
}
.footer-nav{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.footer-nav li{
    list-style-type: none;
}
.footer-nav li a{
    color:var(--main-color);
    font-size: 1.2rem;
}
footer h4{
    color: var(--main-color);
    text-align: center;
}
/*About Me*/
.aboutme__img{
    object-fit: cover;
    object-position: bottom;
}
.marquee--container{
    margin: 10% 0;
    border: 2px solid var(--secondary-color);
    padding: 2% 0;
    position: sticky;
    bottom: 0;
    overflow: hidden;
}
.marquee--container-inner{
    margin-bottom: 0;
    display: flex;
    animation: scrolling 20s linear infinite;
}
@keyframes scrolling{
    0% {transform: translateX(0);}
    100%{ transform: translateX(-100%);}
}
.marquee--container li{
    font-family: var(--titles-type);
    color: var(--secondary-color);
    padding-left: 5%;
    font-size: 2.5rem;
    list-style: none;
    flex-shrink: 0;
}
/*About me--Experience*/
.experience h2{
    color: var(--secondary-color);
    margin-bottom: 5%;
}
.experience article{
    display: grid;
    grid-template-columns: 20% 78%;
    gap: 2%;
    margin: 5% 0;
}
.experience .date, .experience__info h3{
    font-family: var(--titles-type);
    color: var(--accents-color);
    font-size: 2rem;
    margin-bottom: 0;
}
.experience__info--black{
    font-weight: 700;
    margin-bottom: 1%;
    color: var(--accents-color);
}
/*Play*/
.image--gallery{
    margin: 5% 0;
    row-gap: 5%;
}
/*Contact*/
.form-control{
    width: 100%;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 0;
}
.form-control:focus{
    border: 3px solid var(--accents-color);
    background-color: transparent;
    box-shadow: none;
}
.contact-form button{
    width: 100%;
}
/*Inner page*/
.project-quote h4{
    font-size: 2.2rem;
    text-align: center;
}